@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* === 무지개 배경색 === */
.rainbow-bg {
  background: linear-gradient(
    180deg,
    #fde2e4 0%,
    #e2ece9 25%,
    #c9e4de 50%,
    #bee1e6 75%,
    #f0efeb 100%
  );
}
